.fBanner{
    background-image: url('../../../asset/footerBanner.jpg');
    height: 80vh;
    background-size: cover;
    margin-top: 80px;
}

.text-box{
    margin-top: 20px;
}

.fp{
    color: #22CB5C;
}

#leave{
    font-size: 30px;
    margin-bottom: 20px;
}

.fheading{
    font-size: 60px;
}