@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baloo+2:wght@400;700&family=Baloo+Bhai+2:wght@400;700&family=Baloo+Bhaijaan+2:wght@400;500;700&family=Dancing+Script:wght@400;700&family=Fredoka+One&family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Inter:wght@100;200;300;600;700;800&family=Josefin+Sans:wght@400;700&family=Lato:wght@400;700&family=League+Gothic&family=Lobster&family=Poppins:wght@400;700&family=Quicksand:wght@400;700&family=Raleway:wght@300;400;700&family=Roboto:ital,wght@0,500;1,400;1,500&family=Satisfy&family=The+Nautigal:wght@400;700&display=swap');

.banner{
    background-image: url('https://i.ibb.co/Yf1W17b/360-F-299930691-6-Vx-Cqunfvz2z-Ajzzi1m8-O1-Sttn-Abj-DZf.jpg');
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    margin-top: 60px;
}

.heading{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

.heading2{
    font-size: 70px;
    color: red;
    font-family: 'Josefin Sans', sans-serif;
}